@use 'var';

$label-padding: 8px;

.contacts {
   padding: 120px 35px 90px 52px;   
   display: flex;
   gap: 68px;
   
   @media (max-width: var.$breakpoint_mobile){
      padding: 40px 10px 50px;
   }

   &__photo-wrapper {
      max-width: 400px;
      
      @media (max-width: var.$breakpoint_mobile){
         display: none;
      }
   }

   &__photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__title-wrapper {
      width: 36px;
      height: 36px;
      background-color: var.$orange;
      border-radius: 50%;
      position: relative;
      margin-bottom: 20px;
   }

   &__title {
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      transform: translate(12px, 50%);
   }

   &__social-list {
      display: flex;
      margin: 20px 0;
   }

   &__social-icon:nth-child(2) {
      margin-right: 20px;
      margin-left: 25px;
   }

   &__form {
      margin-top: 30px;
   }

   &__group-inputs{
      display: flex;
      gap: 25px;

      @media (max-width: var.$breakpoint_mobile){
         flex-direction: column;
         gap: 30px;
         width: 100%;
      }
   }

   &__input-wrapper {
      border: 1px solid var.$black;
      position: relative;
      padding: 14px 0 13px 20px;
      border: 1px solid var.$black;
   }

   &__label {
      @extend %medium-font-shared;
      position: absolute;
      padding: $label-padding;
      top: -17px;
      left: calc(20px - $label-padding);
      background-color: var.$white;
   }

   &__form > &__input-error-wrapper > &__input-wrapper {
      margin-top: 30px;
   }

   &__form > &__input-error-wrapper > &__input-wrapper > &__input {
      height: 190px;
      resize: none;
   }

   &__input-wrapper &__input {
      @extend %medium-font-shared;
      width: 100%;
      border: none;
   }

   &__input-wrapper &__input:focus {
      outline:none;
   }

   &__group-inputs &__input-wrapper {
      width: 280px;

      @media (max-width: var.$breakpoint_mobile){
         width: 100%;
      }
   }

   &__policy {
      display: none;

      @media (max-width: var.$breakpoint_mobile){
         display: flex;
         gap: 10px;
         margin: 20px auto 0;
         justify-content: center;
      }      
   }

   &__policy-label {
      max-width: 169px;
   }

   &__policy-link {
      color: var.$blue;      
   }

   &__submit-btn {
      border: none;
      margin-top: 28px;

      @media (max-width: var.$breakpoint_mobile){
         display: block;
         margin: 20px auto 0;
         // margin-top: 20px;
      }
   }

   &__input-error-text {
      color: #ff0000;
      display: none;
      font-size: 14px;
      font-weight: 500;
   }

   &__policy ~ &__input-error-text {
      text-align: center;
   }
}