@use 'var';

.promo {
   padding-top: var.$promo-top-padding;
   height: 100svh;
   background: url('img/promo/Background.png') center/cover no-repeat;
   
   @media (max-width: var.$breakpoint_mobile){
      padding: var.$promo-top-padding 10px 0;
      background: url('img/promo/Background-mobile.png') center/cover no-repeat;
      // background-position: 50% 100%;
   }

   &__header {
      max-width: 532px;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 30px;

      @media (max-width: var.$breakpoint_mobile){
         font-size: 26px;
      }
   }

   &__social {
      position: absolute;
      padding-top: calc(226px - var.$promo-top-padding);
      padding-left: 50px;

      @media (max-width: var.$breakpoint_mobile){
         display: none;
      }
   }

   &__social-icons {
      display: flex;
      flex-direction: column;
      gap: var.$min-margin;
      cursor: pointer;
      margin-bottom: calc(-1 * var.$promo-social-separator-padding + var.$min-margin);
   }

   &__signature {   
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
   }

   &__signature::after {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: var.$promo-social-separator-width;
      background-color: var.$black;
      right: 50%;
      bottom: var.$promo-social-separator-padding;
      transform: translate(-50%, 0);
   }

   &__button:last-child {
      margin-left: 44px;
   }
}