$container-width: 1140px;
$min-margin: 15px;
$orange: #FFA501;
$white: #fff;
$promo-top-padding: 206px;
$promo-social-separator-width: 70px;
$promo-social-separator-padding: calc(-1 * ($promo-social-separator-width + $min-margin));