@use 'style/var';
@use 'style/promo';
@use 'style/header';
@use 'style/benefit';
@use 'style/contacts';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   color: var.$black;
   font-family: "Poppins", "Manrope", serif;
}

ul,
ol {
   list-style: none;
}

.container {   
      max-width: var.$container-width;
      margin: 0 auto;
      // width: 100%;

      @media (max-width: var.$breakpoint_mobile){
         width: 100%;
         margin: 0;
      }
}

.title_left-side {
   @include var.title
}

.title_left-side::before {
   @include var.orange-circle
}

.title_centered {
   @include var.title($padding-left: 0, $margin: 0 auto, $width: max-content)
}

.title_centered::before {
   @include var.orange-circle($left: 50%, $transform: translate(-50%, -50%))
}

.definition_centered {
   @include var.definition;

   @media (max-width: var.$breakpoint_mobile){
      @include var.definition($margin: 0 auto 55px);     
   }   
}

.definition_centered::before {
   @include var.orange-separator;

   @media (max-width: var.$breakpoint_mobile){
      @include var.orange-separator($bottom: -15px);     
   }
}

.definition__left-side {
   @include var.definition($margin: 0 0 35px);
}

.definition__left-side::before {
   @include var.orange-separator($left:0, $transform: translate(0), $bottom: -15px);
}

.button {
   @extend %button-shared;
   
   &_orange {
      @extend %button-shared;
      padding: 12px 25px;
      background-color: var.$orange;
   }
}

.medium-text {
   font-size: 12px;
   font-weight: var.$medium-font;
}

.bold-text {
   font-size: 14px;
   font-weight: bold;
}